<h1>My Affirmations</h1>

{{!-- populate 3 random affirmations --}}
{{!-- add create new button and create new view --}}


{{!-- 
<section class="profile">
  <h2>{{user.local.email}}</h2>
  {{#if user.lists}}
    <div class="items">
      {{#each user.lists}}
         {{'./affirmation.hbs'}}
      {{/each}}
    </div>
  {{else}}
    <p>No affirmations yet!</p>
  {{/if}}
</section> --}}