<h1>Hello There</h1>

<div class='controls'>
  <form action="/user/login">
    <input type="submit" value="Log In" />
  </form>

  <form action="/user/signup">
    <input type="submit" value="Sign Up" />
  </form>

  {{!-- <form action="/new/gratitude">
    <input type="submit" value="New Gratitude" />
  </form>

  <form action="/new/affirmation">
    <input type="submit" value="New Affirmation" />
  </form> --}}

</div>