<h1>Grateful</h1>
<h3>Your daily gratitude list and positive affirmation keeper.</h3>
<h3>Because you deserve to feel good about you.</h3>

<div class='controls'>

  <form action="/user/login">
    <input type="submit" value="Log In" class="button" />
  </form>

  <form action="/user/signup">
    <input type="submit" value="Sign Up" class="button"/>
  </form>
  
</div>