<h1>My Lists</h1>

<div class='controls'>

  <form action="/lists/affirmation">
    <input type="submit" value="My Affirmations" />
  </form>

  <form action="/lists/gratitude">
    <input type="submit" value="My Gratitude List" />
  </form>

{{!-- log out function does not work --}}
  <form action="/">
    <input type="submit" value="Logout" /> 
  </form>

</div>

