<h1>My Lists</h1>

<div class='controls'>

  <form action="/gratitude/show">
    <input type="submit" value="My Gratitude List" class="button"/>
  </form>  

  <form action="/affirmation/show" method="GET">
    <input type="submit" value="My Affirmations" class="button"/>
  </form>

 
  
  <form action="/" method="GET" class="logout">
    <input type="submit" value="Logout" class="button"/> 
  </form>

</div>

{{!-- log out function does not work --}}
{{!-- <div id="logout">



</div> --}}

