<section class="row">
  <h2>Sign Up:</h2>

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="username" name="email" placeholder="email">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="password">
    </p>
    <p class="input-field">
      <input type="submit" value="Sign Up" class="button">
    </p>
  </form>
</section>