<h1>Sign Up</h1>

<section class="row">

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="" method="POST" class="auth-form">

    <p>
      <input type="username" name="email" placeholder="email" class="input-field">
    </p>

    <p>
      <input type="password" name="password" placeholder="password" class="input-field">
    </p>

    <p>
      <input type="submit" value="Sign Up" class="button">
    </p>
    
  </form>

</section>