<form class="new-item">

  <h2>New Affirmation</h2>

  <p class="input-field">
    <textarea rows="5" cols="75" placeholder="What makes you awesome today?"></textarea>
  </p>

  <form action="/new/affirmation" method="POST">
    <input type="submit" value="Add It" class="button"/>
  </form>

</form>

