 <form class="new-item">

  <h2>New Gratitude</h2>

  <p class="input-field">
    <textarea rows="4" cols="50" placeholder="I'm grateful for..."></textarea>
  </p>

  <form action="/new/gratitude" method="POST">
    <input type="submit" value="Add It" class="button"/>
  </form>

  </form>

