<div class="new-item">

  <h1>New Affirmation</h1>


  <form action="/affirmation/show" method="POST">
    <p class="input-field">
      <textarea name='text' rows="5" cols="75" placeholder="What makes you awesome today?"></textarea>
    </p>
    <input type="submit" value="Add It" class="button"/>
  </form>

  <form action="/affirmation/show" method="GET">
    <input type="submit" value="Back" class="button" />
  </form>

</div>

