<h1>My Affirmations</h1>

{{!-- populate 3 random affirmations --}}
<section class="profile">
  {{#if affirmations}}
    <div class="items">
      {{#each affirmations}}
         {{'./show.hbs'}}
      {{/each}}
    </div>
  {{else}}
    <p>No affirmations yet!</p>
  {{/if}}
</section>

<div class='controls'>

    <form action="/" method="GET">
      <input type="submit" value="Show All" class="button"/>
    </form>

  <form action="/affirmation/new" method="GET">
    <input type="submit" value="New Affirmation" class="button" />
  </form>

  <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button" />
  </form>

</div>

{{!-- route "new" button and create "new" view --}}



