<h1>My Affirmations</h1>

<div class='controls'>

  <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button" />
  </form>

  <form action="/affirmation/new" method="GET">
    <input type="submit" value="New Affirmation" class="button" />
  </form>
  
</div>

<section class="profile">
  
  {{#if affirmations}}
    <ul class="items">
      {{#each affirmations}}
        <li>
          {{text}}

          <a href='edit/{{id}}' method="get" class='update'>Edit</a>

        </li>
      {{/each}}
    </ul>

  {{else}}
    <h3>No affirmations yet!</h3>
  {{/if}}

</section>





