<h1>My Affirmations</h1>



<div class='controls'>

  <form action="/affirmation/new" method="GET">
    <input type="submit" value="New Affirmation" class="button" />
  </form>

  <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button" />
  </form>

</div>

<section class="profile">
  {{#if affirmations}}
    <ul class="items">
      {{#each affirmations}}
        <li>
          {{this.text}}

          <form action='edit/{{id}}' method='GET' class='controls'>
            <input type="submit" value="Edit" class="edit" />
          </form>

        </li>
      {{/each}}
    </ul>
  {{else}}
    <h3>No affirmations yet!</h3>
  {{/if}}
</section>





