<h1>New Gratitude</h1>
 
<div class="new-item">

  <form action="/gratitude/show" method="POST">
    <p class="input-field">
      <textarea name='text' rows="4" cols="50" placeholder="I'm grateful for..."></textarea>
    </p>
    <input type="submit" value="Add It" class="button" />
  </form>

  <form action="/gratitude/show" method="GET">
    <input type="submit" value="Back" class="button" />
  </form>

</div>

