<h1>My Gratitude List</h1>

{{!-- populate 3 random gratitudes --}}
<section class="profile">
  <h2>{{user.local.email}}</h2>
  {{#if user.lists}}
    <div class="items">
      {{#each user.lists}}
         {{'./affirmation.hbs'}}
      {{/each}}
    </div>
  {{else}}
    <p>No gratitudes yet!</p>
  {{/if}}
</section>

<div class='controls'>

  <form action="index" method="GET">
    <input type="submit" value="Show All" class="button"/>
  </form>

  <form action="/gratitude/new" method="GET">
    <input type="submit" value="New Gratitude" class="button"/>
  </form>

  <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button"/>
  </form>

</div>


{{!-- route "new" button and create "new" view --}}

